/**
 * @jsx React.DOM
 */
var React = require('react');


var ${1:Component} = React.createClass({

  getInitialState: function() {
    return {
    };
  },

  componentDidMount: function() {
  },

  componentWillUnmount: function() {
  },

  render: function () {
    /* jshint ignore:start */
    return(
      <div>
      </div>
    );
    /* jshint ignore:end */
  }
});


module.exports = $1;

