/**
 * @jsx React.DOM
 */
/* global React */


var ${1:Component} = React.createClass({

    getInitialState: function() {
        return {
        };
    },

    componentDidMount: function() {
    },

    componentWillUnmount: function() {
    },

    render: function () {
    return(
        /* jshint ignore:start */
        <div>
        </div>
        /* jshint ignore:end */
    );
    }
});


module.exports = $1;

